{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1026,"scrollleft":0,"selection":{"start":{"row":78,"column":9},"end":{"row":78,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":63,"state":"start","mode":"ace/mode/text"}},"timestamp":1572619859062,"hash":"4156f4f635784bd40e141ad91e7e675e714376ce"}