{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":70.5,"scrollleft":0,"selection":{"start":{"row":9,"column":10},"end":{"row":9,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"state":"start","mode":"ace/mode/text"}},"timestamp":1579444896998,"hash":"00c9117b9bf70f663ea38e9b13942eb229969a25"}