
/* general */

.navbar-form input, .form-inline input {
    width: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ededed;
}

#footer-p {
    padding: 0px
}


/* mastheads */

#masthead {
    padding-left:10px;
    min-height: 199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top: 50px;
}

#masthead .well {
    margin-top: 31px;
    min-height: 127px;
}

/* navbar */

#logo {
    height: 35px;
    width: 35px;
    padding: 0px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    background: #f3f3f3;
    background-image: none;
    border-bottom: 1px solid #f3f3f3;
}

.navbar-brand {
    padding-top: 7px;
}

.navbar-default .navbar-brand {
    font-family: 'Baloo Bhai', cursive;
    font-size: 35px;
    color: #E56399;
}

.navbar-default .navbar-brand:hover {
    color: #d62d73;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d3ecc5;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #d62d73;
}

.navbar-default .navbar-nav>li>a {
    color: #d62d73;
}

#logo {
    color: #12AB82;
}


.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

/* message banner */

.message-banner {
    padding: 10px 50px;
    background-color: #ffe7f1;
}

hr {
    margin: 0px;
}

/* items */

.individual-item {
    border: 1px solid #868686;
}

.item-img {
    display: inline-block;
    max-height: 100px;
    max-width: 150px;
}

#item-detail-img {
    max-height: 300px;
    max-width: 300px;
    margin-left: 10px;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.item-name {
    color: #e56399;
    font-family: 'Roboto';
}

.item-owner {
    font-size: 12px;
}

.item-details {
    font-size: 14px;
}

/* page titles */

.page-title {
    color: #e56399;
    font-family: 'Roboto';
    padding: 20px 0px;
    margin: 0px;
}

/* buttons */

.btn-info {
    background-image: none;
    background-color: #e56399;
    border: 1px solid #e56399;
}

.btn-info:hover {
    background-color: #d62d73;
    border: 1px solid #d62d73;
}

.btn-search {
    background-image: none;
    background-color: #e56399;
    border: 1px solid #e56399;
    color: white;
    border-radius: 4px;
}

.btn-search:hover {
    background-color: #d62d73;
    border: 1px solid #d62d73;
}

/* misc */

a, a:hover {
    color: #555555;
    text-decoration: none;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.boldtext {
    font-weight: bold;
}

.panel-body {
    padding: 15px 0px;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}