{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Your Cart{% endblock %}

{% block page_heading %}Your Cart{% endblock %}

{% block content %}
<div class="row row-flex">
    {% for item in cart_items %}
        <div class="col-sm-12 col-md-4 text-center individual-item">
            <img src="{{ MEDIA_URL }}{{ item.image }}" class="item-img">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ Item.image }}')"></div>
            <h3 class="item-name"><strong>{{ item.item.item_name }}</strong></h3>
            <div class="row">
                <p class="item-details">Size: {{ item.item.size }}</p>
                <p class="item-details">Brand: {{ item.item.brand }}</p>
                <p class="item-details">Price: {{ item.item.original_price }}</p>
                <a href="{% url 'delete_from_cart' item.id %}" class="btn btn-info">X</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <h2 class="page-title">Total</h2>
    <h3 class="page-title">£{{ total }}</h3>
    <a href="{% url 'checkout' %}" class="btn btn-info" role="button">Checkout</a>
    <a href="{% url 'get_items' %}" class="btn btn-info" role="button">Back to browse</a>
    <a href="" class="btn btn-info" role="button">Remove all</a>
</div>
{% endblock %}