{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block page_title %}Your Cart{% endblock %}

{% block page_heading %}Your Cart{% endblock %}

{% block content %}
<div class="row row-flex">
    {% for item in cart_items %}
        <div class="col-sm-12 col-md-4 text-center individual-item">
            <a href="{% url 'item_detail' item.id %}">
                <img src="{{ MEDIA_URL }}{{ item.item.image }}" class="item-img">
                <div class="caption">
                    <h3 class="page-title">{{ item.item.item_name }}</h3>
                    <p class="product-description">{{ item.item.item_description }}</p>
                    <p>£{{ item.item.original_price }}</p>
                </div>
                <a href="{% url 'delete_from_cart' item.id %}" class="btn btn-info">X</a>
            </a>
        </div>       
    {% endfor %}
</div>
<div class="row">
    <h2 class="page-title">Total</h2>
    <h3 class="page-title">£{{ total }}</h3>
    <a href="{% url 'checkout' %}" class="btn btn-info" role="button">Checkout</a>
    <a href="{% url 'get_items' %}" class="btn btn-info" role="button">Back to browse</a>
    <a href="" class="btn btn-info" role="button">Remove all</a>
</div>
{% endblock %}