{% extends 'base.html' %}

{% block page_title %}About Us{% endblock %}

{% block page_heading %}About ThreadSwap{% endblock %}

{% block content %}
<p>ThreadSwap was created to give people a place to swap their clothes, to reduce one-time-use-buying of clothes, or "Fast Fashion".
Instead of buying an item of clothing, wearing it once and hiding it away from the world for eternity, you can stick it
up on here and exchange it for something else.</p>

<h1 class="page-title"><strong>How It Works</strong></h1>

<p><strong>Step 1:</strong> <a href="{% url 'registration' %}">Get an account with us</a></p>
<p><strong>Step 2:</strong> <a href="{% url 'get_items' %}">Find an item you like</a></p>
<p><strong>Step 3:</strong>Request a swap</p>
<p><strong>Step 4:</strong>The owner of the item will receive a notification, and choose from your items</p>
<p><strong>Step 5:</strong> <a href="#">You'll get a request, asking for your confirmation</a></p>
<p><strong>Step 6:</strong>Happy with the choice? Confirm it and you'll get 
each others contact details to arrange pick up</p>
{% endblock %}