{% extends "base.html" %}

{% block page_title %}{{ item.item_name }}{% endblock %}

{% block page_heading %}{{ item.item_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
                <img src="{{ MEDIA_URL }}{{ item.image }}" class="item-detail-img">
        </div>
        <div class="col-sm-12 col-md-6">
            <a href="{% url 'profile' %}"><p class="item-details"><u>Owner: {{ item.owner }}</u></p></a>
            <p class="item-details">{{ item.item_description }}</p>
            <p class="item-details">Size: {{item.size}}</p>
            <p class="item-details">Brand: {{item.brand}}</p>
            <p class="item-details">Price: £{{ item.original_price }}</p>
            <p class="item-details">Added on: {{ item.date_added }} </p>
            <a href="{% url 'get_items' %}" class="btn btn-info">Back</a>
            <a href="{% url 'add_to_cart' item.id %}" class="btn btn-info">Buy!</a>
            <hr>
        </div>
        </div>
    </div>
{% endblock %}