{% extends 'base.html' %}

{% block page_title %}All Items{% endblock %}

{% block page_heading %}Items{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    
                    {% for item in items %}
                            <div class="col-sm-12 col-md-4 text-center individual-item">
                                <a href="{% url 'item_detail' item.id %}">
                                    <img src="{{ MEDIA_URL }}{{ item.image }}" class="item-img">
                                    <h3 class="item-name"><strong>{{ item.item_name }}</strong></h3>
                                    <div class="row">
                                        <p class="item-details">Size: {{item.size}}</p>
                                        <p class="item-details">Brand: {{item.brand}}</p>
                                        <p class="item-details">Price: £{{ item.original_price }}</p>
                                    </div>
                                </a>
                            </div>
                    {% endfor %}
    
                </div>
            </div>
        </div>
    </div>
{% endblock %}