{% extends "base.html" %}

{% block page_title %}{{ item.item_name }}{% endblock %}

{% block page_heading %}{{ item.item_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12 text-center">
            <a class="item-img" href="#">
                <img src="/media/img/profile.jpg" class="img-circle">
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a href="{% url 'profile' %}"><p class="item-details"><u>Owner: {{ item.owner }}</u></p></a>
            <div class="row">
                <div class="col-xs-9">
                    <p class="item-details">{{ item.item_description }}</p>
                    <p class="item-details">Size: {{item.size}}</p>
                    <p class="item-details">Brand: {{item.brand}}</p>
                    <p class="item-details">Original Price: {{ item.original_price }}</p>
                    <p class="item-details">Added on: {{ item.date_added }} </p>
                    <a href="{% url 'get_items' %}" class="btn btn-default">Back</a>
                    <a href="{% url 'edit_item' item.id %}" class="btn btn-default">Edit Item</a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default">Buy!</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}